{% extends "network/layout.html" %}
{% load static %}
{% block body %}
    <div id="all_posts">
        <div id="post-form">
            <h4>New Post</h4>
            <form action="{% url 'new-post' %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-text">New Post</span>
                    <textarea class="form-control" aria-label="With textarea" name="content"></textarea>
                    <input type="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
        <div id="posts">
            {% for post in posts %}
                <div class="post-item">
                    <label class="post-content">
                        <p class="post-user">{{ post.user }}</p>
                        <label class="time-data">{{ post.time }}</label>
                        <br/>
                        <p class="post-text">{{ post.content }}</p>
                        {% if post.id in liked_posts %}
                            <div id="like-btn-{{ post.id }}">
                                <a class="like-btn" onclick="like_post('{{ post.id }}');">
                                    💖<label class="bi-heart" id="like-no-{{ post.id }}">{{ post.like }}</label>   
                                </a>                         
                            </div>
                        {% else %}
                            <div id="like-btn-{{ post.id }}">
                                <a class="like-btn" onclick="like_post('{{ post.id }}');">
                                    ❤<label class="bi-heart" id="like-no-{{ post.id }}">{{ post.like }}</label>   
                                </a>                         
                            </div>
                        {% endif %}
                                       

                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}