{% extends "network/layout.html" %}
{% load static %}
{% block body %}
    <label id="user-head"><h1>{{ usr }}
        {% if request.user.is_authenticated and request.user != usr %}
            <label>
            <button onclick="follow('{{ usr.id }}');" class="btn btn-dark" id="follow-btn">{{ btnText }}</button>
            </label>
            {% endif %}
        </h1>
        <p id="follow-data">Followers: {{ followers }} | Following: {{ followings }}</p>
    </label>

    <div id="all_posts">
        <div id="posts">
            {% for post in posts %}
                <div class="post-item">
                    <label class="post-content">
                        <label class="time-data">{{ post.time }}</label>
                        <br/>
                        <p class="post-text">{{ post.content }}</p>
                        {% if post.id in liked_posts %}
                            <div id="like-btn-{{ post.id }}">
                                <a class="like-btn" onclick="like_post('{{ post.id }}');">
                                    ❤<label class="bi-heart" id="like-no-{{ post.id }}">{{ post.like }}</label>   
                                </a>                         
                            </div>
                        {% else %}
                            <div id="like-btn-{{ post.id }}">
                                <a class="like-btn" onclick="like_post('{{ post.id }}');">
                                    🤍<label class="bi-heart" id="like-no-{{ post.id }}">{{ post.like }}</label>   
                                </a>                         
                            </div>
                        {% endif %}
                                       

                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}